
@font-face {
  font-family: 'Shakuro Brush';
  src: url('../fonts/ShakuroBrush.ttf') format('truetype');
}

html, body {
  height: 200vh; /* Altura total de la p?gina */
  width: 100%;
  background-color: #ffffff; /* Fondo blanco */
  margin: 0; /* Eliminar m?rgenes por defecto */
  scroll-behavior: smooth;
  font-family: 'Shakuro Brush', sans-serif; /* Aplicar la fuente personalizada */
  text-align: center;
  color: #bc1010;
  letter-spacing: .1em;
  position: relative; /* Permitir posicionamiento relativo de elementos */
  padding-bottom: 60px; /* Espacio para el footer */
}


.moon {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: visible;
  position: fixed; /* Fija la posici?n */
  top: 47%; 
  left: 25%;
  transform: translate(-50%, -50%); /* Ajuste para centrar */
  background-color: #bc1010;
  z-index: 1; /* Detr?s del texto */
  border:none;
}


.moon::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; left: 0;
  background-color: #FFF; /* Semic?rculo blanco */
  width: 100%; 
  height: 50%; /* Semic?rculo superior */
  overflow:visible;
}

.disc {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  
  &::before, &::after {
    content: " ";
    display: block;
    transform-style: preserve-3d;
    top:10px;
    width: 100%;
    height: 100%;
    border-radius: calc(50% - 3px);
    overflow: visible;
    position: absolute;
    backface-visibility: hidden;
  }
  
  &::before {
    background-color: #FFF; /* Semic?rculo blanco */
    transform: rotateY(0deg); /* Sin rotaci?n para el lado visible */
  }
  
  &::after {
    background-color: #bc1010; /* Lado blanco detr?s */
    transform: rotateY(180deg); /* Lado blanco detr?s */
  }
}

.logo {
  position: absolute; /* Para superponer el logo en la luna */
  top: 40%; /* Ajustar hacia arriba */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Ajusta el tama?o del logo */
  z-index: 2; /* Aseg?rate de que est? por encima de la luna */
}


.container {
  position: absolute; /* Posicionamiento absoluto para mayor control */
  left: 75%; /* 3/4 del ancho de la pantalla */
  top: 65%;
  transform: translateX(-50%); /* Ajuste para que el contenedor esté en 3/4, manteniendo su centro */
  width: 50%; /* O el ancho que quieras darle al contenedor */
}



.nippon {
  position: absolute; /* Cambiado a relative */
  top: 80%; /* Ajuste para que no suba tanto */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px; /* Tama?o del texto "NIPPON" */
  color: #ffffff; /* Color del texto */
  z-index: 2; /* Aseg?rate de que est? por encima de la luna */
}

.countdown {
  position: relative;
  color: #222; /* Color del texto del contador */
  z-index: 0; /* Aseg?rate de que est? por encima de la luna */

}

.socials {
  margin-top: 20px; /* Espacio entre el contador y las redes sociales */
  z-index: 1; /* Aseg?rate de que est? por encima de la luna */
}

.social-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content)); /* Los botones se ajustarán según el contenido, pero tendrán un ancho mínimo de 150px */
  justify-content: center; /* Centrar los botones */
  gap: 10px; /* Añadir espacio entre los botones */
}

.social-buttons a {
  padding: 10px 10px;    /* Tamaño del botón */
  background-color: #bc1010;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;     /* Centra el texto dentro de cada botón */
  white-space: nowrap;    /* Evita que el texto dentro del botón se divida en varias líneas */

  
}
.social-buttons a:hover {

  
  background-color: #ff0000;
  
}

.footer {
  position: fixed; /* Cambiado a fixed para mantenerlo siempre visible */
  bottom: 0; /* Siempre en la parte inferior */
  width: 100%;
  padding: 10px; /* Espacio alrededor */
  background-color: #f0f0f0; /* Color de fondo para el pie */
  color: #222; /* Color del texto */
  z-index: 1; /* Aseg?rate de que est? por encima de la luna */
}





@media (max-width: 1140px) {
  .moon {
    width: 400px;
    height: 400px;
  }

  .logo {
    width: 300px;
  }


  .container{
    
    top: 42%;
    width: 50%; 
  }

  .nippon {
    font-size: 80px;
  }

  .countdown {
    margin-top: 400px;
  }
}

@media (max-width: 768px) {

  body {
    left: 0%;
  }

  .moon {
    width: 300px;
    height: 300px;
	 top: 20%; 
  left: 50%;
  
  }

  .logo {
    width: 200px;
  }

  .nippon {
    font-size: 60px;
  }

  .countdown {
    
    margin-top: 300px;

  }

  html, body{
height: 150vh;

  }

  .container{
    top: 42%;
    width: 100%; 
    left: 50%;

  }
  
}
